#{extends 'admin.html' /}

#{set title:'Adminarea' /}


<div id="latest-post" class="wide-post">
	#{ifnot post?.id}
		<h1 class="title">Write <span class="from">a new post</span></h1>
	#{/ifnot}
	#{else}
		<h1 class="title">edit <span class="from">this post</span></h1>
	#{/else}
 
 
	<div class="entry">
		<p>
		#{form @save(post?.id)}
		 
		    #{ifErrors}
		        <p class="error">
		            Please correct these errors.
		        </p>
		    #{/ifErrors}
		     
		    <p>
		        #{field 'title'}
		        <label>Post title:</label>
		        <input type="text" name="${field.name}" 
		            value="${post?.title}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		 
		    <p>
		        #{field 'content'}
		        <label>Write here:</label>
		        <textarea name="${field.name}" 
		            class="${field.errorClass}">${post?.content}</textarea>
		        #{/field}
		    </p>
		 
		    <p>
		        #{field 'tags'}
		        <label>Enter some tags:</label>
		        <input type="text" size="50" 
		            name="${field.name}" value="${post?.tags?.join(' ')}" />
		        #{/field}
		    </p>
		    
		    <p>
		        <input type="submit" value="Publish this post to the blog" />
		    </p>
		    
		#{/form}
    	</p>
		<p>&nbsp;</p>
		  
		<p class="links">
			<a href="/" class="date">today</a>
			 &nbsp;&nbsp;|&nbsp;&nbsp; 
			<a href="" class="author">new post</a>
			 &nbsp;&nbsp;|&nbsp;&nbsp; 
			<a class="comments" href="@{Secure.logout()}">Log out</a>
			 &nbsp;&nbsp;|&nbsp;&nbsp; 
		    <a class="newpost" href="@{form()}"><span> write </span>a new post</a>
		</p>
	</div>

	<div class="bottom"></div>
</div>