#{extends 'admin.html' /}

#{set title:'Adminarea' /}


<div id="latest-post" class="wide-post">
	<h1 class="title">The main admin area</h1>

	<div class="entry">
		<img src="@{'/public/images/admin.png'}" alt="" width="114" height="114" class="left" />
 		<div class="level">
		<h3>Welcome ${user}, <span>you have written ${posts.size() ?: 'no'} ${posts.pluralize('post', 'posts')} so far</span></h3>
		#{list items:posts, as:'post'}
		    <p class="post ${post_parity}">
		        <a href="@{Admin.form(post.id)}">${post.title}</a>
       			<!-- #{display-post post:post, as:'teaser' /} -->
		    </p>
		#{/list}
		</div>
		<p>&nbsp;</p>
		  
		<p class="links">
			<a href="/" class="date">today</a>
			 &nbsp;&nbsp;|&nbsp;&nbsp; 
			<a href="" class="author">new post</a>
			 &nbsp;&nbsp;|&nbsp;&nbsp; 
			<a class="comments" href="@{Secure.logout()}">Log out</a>
			 &nbsp;&nbsp;|&nbsp;&nbsp; 
		    <a class="newpost" href="@{form()}"><span> write </span>a new post</a>
		</p>
	</div>

	<div class="bottom"></div>
</div>