<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Radiance
Description: Fixed-width design for blogs and small websites.
Version    : 1.0
Released   : 20071007

-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link rel="stylesheet" media="screen" type="text/css" href="@{'/public/stylesheets/default.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
</head>
<body>
<!-- start header -->
<div id="logo">
  <a href="/">
  	<h1>T.V.K.</h1>
  	<p>For a number of reasons</p>
  </a>
</div>

<div id="menu">
        <ul>
        
        <li><a class="navigation" href="http://www.tuvok.nl/blog/">Homepage</a></li>
        <li class="current_page_item"><a class="navigation" href="/">Pool</a></li>
        <li><a title="Todos" class="navigation" href="http://www.tuvok.nl/todo/">Todos</a></li>
        <li><a title="Contact" class="navigation" href="http://www.tuvok.nl/contact/">Contact</a></li>
        <li><a title="Blog" class="navigation" href="http://www.tuvok.nl/blog/list/">Blog</a></li>
        
        </ul>
  
</div>
<!-- end header -->
<hr />
        #{doLayout /}
    </body>
</html>
