
<div id="latest-post" class="wide-post">
	<h1 class="title">Create your game</h1>
	<div class="entry">
	For a new user just fill in a name, otherwise use the selectboxes.

		#{form @create(game?.id)}
		 
		    #{ifErrors}
		        <p class="error">
		            Please correct these errors.
		        </p>
		    #{/ifErrors}
		     
		    <p>
		        #{field 'playerOneName'}
		        <label>Player one:</label>
		        #{select 'playerOneName', items:players, valueProperty:'name', labelProperty:'name', value:'', class:"playerselect", id:'playerselect1' /}
		        <input type="text" name="${field.name}" 
		            value="${game?.playerOneName}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		 
		    <p>
		        #{field 'playerTwoName'}
		        <label>Player two:</label>
		        #{select 'playerTwoName', items:players, valueProperty:'name', labelProperty:'name', value:'', class:"playerselect", id:'playerselect2' /}
		        <input type="text" name="${field.name}" 
		            value="${game?.playerTwoName}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		 
<!-- 		    <p>
		        #{field 'playedAt'}
		        <label>Played date:</label>
		        <input type="text" name="${field.name}" 
		            value="${game?.playedAt}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		    
		    <p>
		        #{field 'winnerName'}
		        <label>winner:</label>
		        <input type="text" name="${field.name}" 
		            value="${game?.winnerName}" class="${field.errorClass}" />
		        #{/field}
		    </p>
		 
 -->		    <p>
		        <input type="submit" value="Create game" />
		    </p>
		    
		#{/form}
		  
	</div>
	<div class="bottom"></div>
</div>